body {
    background-color: #2ecc71;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.infoHeader{
    height: 60px;
    background: #3333ff;
}

.inline-list li{
    display: inline;
}

.countryEntrance{
    height: 50px;
}

.central-group{
    margin-top: 100px;
}

body #websiteName{
    color: white;
    text-align: center;
}

#header{
    color: white;
    text-align: center;
}

.btn.outline{
    background: #d6f5e3;
    float: none;
    padding: 12px 22px;
    color: #4d4d4d;
    text-align: center;
    font-size: 22px;
    font-family: Tahoma;
}

.btn.outline:hover{
    background: #ffffff;
}

.resultsPanel{
    background: #d6f5e3;
    font-family: Tahoma;
}

p{
    font-family: Tahoma;
}

.info-button{
    border-radius: 15px;
    height: 50px;
    width: 50px;
}

.info-row{
    margin-top: 50px;
}

.infoBtn{
    margin-top: 10px;
    height: 40px;
    width: 80px;
    font-size: 18px;
    font-family: Tahoma;
}