

.fixer-text{
    padding: 30px;
}

div#calculateBtn{
    text-align: center;
    height: 80px;
    width: 160px;
}

div#result{
    background : white;
}

div#resultBtn{
    text-align: center;
    height: 60px;
}

